.header
  グループを作成しました
.side-bar
  .side-bar__group-name
    hello
    .side-bar__group-name__icon

  .side-bar__group-list
    hello
    .side-bar__group-list__message
      hello
  .side-bar__group-list
    ハロー
    .side-bar__group-list__message
      ハロー


.footer__