

.header{
  background-color: #38aef0;
  width:100%;
  text-align: center;
  color: #ffffff;
}

.side-bar{
  float: left;
  width: 300px;
  height: 100%;
  min-height: 100vh;
  color: #ffffff;
  font-weight: bold;
  background-color: #2f3e51;
  .side-bar__user-name{
    width: 300px;
    height: 100px;
    background-color: #253141;
    padding: 0 20px;
    line-height: 100px;
    font-size: 16px;
    .side-bar__user-name__icons{
      display: inline;
      float: right;
      padding-right: 40px;
      .side-bar__user-name__icons__new-group{
        display: inline;
      }
      .side-bar__user-name__icons__edit-user{
        display: inline;
        }
      }
    }
  }
  .side-bar__groups{
    .side-bar__groups__list{
      padding: 20px 20px 0;
      font-size: 15px;
      .side-bar__groups__list__message{
        font-size: 11px;
        padding-top: 5px;
      }
    }
  }




.chat{
  float: left;
  height: 100vh;
  width: calc(100vw - 300px);
  .chat__current-group{
    background-color: #ffffff;
    height: 100px;
    border-bottom: solid 1px #eeeeee;
    padding: 0 40px;
    .chat__current-group__name{
      font-size: 20px;
      color: #333333;
      padding: 35px 0 15px 0;
      float: left;
    }

    .chat__current-group__edit-btn{
      float: right;
      margin-top: 28px;
      padding: 0 20px;
      height: 40px;
      line-height: 40px;
      color: #38aef0;
      border: #38aef0 solid 1px;
    }
    .chat__current-group__member{
      clear: both;
      font-size: 12px;
      color: #999999;
    } 
  }


  .chat__main{

    height: calc(100vh - 147px - 90px);
    padding: 46px 40px 0;
    background-color: #fafafa;
    .chat__main__message{
      margin-bottom: 40px;
      .chat__main__message__name{
        font-weight: bold;
        display: inline;
        font-size: 16px;
        color: #434a54;
      }
      
      .chat__main__message--gray{
        color: #999999;
        font-size: 12px;
        display: inline;
        padding-left: 10px;
      }

      .chat__main__message__text{
        margin-top: 10px;
        font-size: 14px;
        color: #434a54;
      }
    } 
  }



  .chat__send-message{
    background-color: #dddddd;
    width: calc(100vw - 300px);
    height: 90px;
    float: right;
    .chat__send-message__input{
      padding: 20px 40px;
      .chat__send-message__input__text{
        height: 50px;
        background-color:#ffffff;
        padding-left: 10px;
      }
      .chat__send-message__input__send{

      }
    }
  }
}