

.header{
  background-color: #38aef0;
  width:100%;
  text-align: center;
  color: #ffffff;
}

.side-bar{
  width: 300px;
  height: 100vh;
  color: #ffffff;
  font-weight: bold;
  background-color: #2f3e51;
  .side-bar__group-name{
    height: 82px;
    background-color: #253141;
    padding: 0 20px;
    line-height: 82px;
    font-size: 16px;
    .side-bar__group-name__icon{

    }
  }
  .side-bar__group-list{
    padding: 20px;
    font-size: 15px;
    .side-bar__group-list__message{
      font-size: 11px;
      padding-top: 5px;
    }
  }


}